<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
     <servlet>
     
        <servlet-name> addCustomer</servlet-name>
        <servlet-class>servlet.addCustomer</servlet-class>
        
    </servlet>    
    
    <servlet-mapping>
       <servlet-name>addCustomer</servlet-name>
       <url-pattern>/addcus</url-pattern>
    
    </servlet-mapping>
     
     <servlet>
     
        <servlet-name> adminCustomers</servlet-name>
        <servlet-class>servlet.adminCustomers</servlet-class>
        
    </servlet>    
    
    <servlet-mapping>
       <servlet-name>adminCustomers</servlet-name>
       <url-pattern>/admin</url-pattern>
    
    </servlet-mapping> 
    
     <servlet>
     
        <servlet-name> singleDataButton</servlet-name>
        <servlet-class>servlet.singleDataButton</servlet-class>
        
    </servlet>    
    
    <servlet-mapping>
       <servlet-name>singleDataButton</servlet-name>
       <url-pattern>/single</url-pattern>
    
    </servlet-mapping> 
         
       <servlet>
     
        <servlet-name> updateCustomer</servlet-name>
        <servlet-class>servlet.updateCustomer</servlet-class>
        
    </servlet>    
    
    <servlet-mapping>
       <servlet-name>updateCustomer</servlet-name>
       <url-pattern>/update</url-pattern>
    
    </servlet-mapping> 
    
           <servlet>
     
        <servlet-name> deleteCustomer</servlet-name>
        <servlet-class>servlet.deleteCustomer</servlet-class>
        
    </servlet>    
    
    <servlet-mapping>
       <servlet-name>deleteCustomer</servlet-name>
       <url-pattern>/delete</url-pattern>
    
    </servlet-mapping> 
            
         
         
         
</web-app>